header {
    width: 100% !important;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-bottom: 1px solid #e5e5e5;
    white-space: nowrap;
    min-height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-top: 1px solid #e5e5e5;
    position: absolute;
    bottom: 0;
    min-height: 60px;
    /* line */
    white-space: nowrap;
    text-align: center;
}

#login {
    border: 2px solid #e5e5e5;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding: 10px;
    margin-left: auto;
    float: right;
    background-color: #f5f5f5;
    border-radius: 6px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#login #login-button {
    border-radius: 2px;
}

#login #login-button:hover {
    background-color: #d2d2d2;
    cursor:pointer;
}